<table class = "posttable" style = "width:100%" valign="top">
    <tr> 
        <td colspan="3"><div class="posttitle"> {{post.title}} </div>
        </td>
    </tr>
    <tr> 
        <td width = "100%"><div class="postmessage"> 
            Goal Objective: {{post.description}}
        </div>
        </td>
    </tr>
    <tr> 
        <td><div class="postmessage"> Date: {{post.startDate}} - {{post.endDate}} </div>
        </td>
    </tr>
    <tr> 
        <td><div class="postmessage">  Time Commitment: {{post.commitment}} hours / week </div>
        </td>
    </tr>
    <tr> 
        <td><div class="postmessage"> Qualifications: {{ post.qualifications }}
        </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            {% if current_user.user_type == 'Student' %}
                {% if current_user.is_applied(post) == false %}
                    <div style="margin-left: 75%; text-align: right;">
                        <form action = "{{ url_for('routes.apply', postid = post.id) }}">
                            <input type = 'submit', value = 'Apply', class = 'button'>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </td>
        <td colspan ="3">
            <!--{% if current_user.id == post.faculty_id %}-->
            <div style="margin-left: 75%; text-align: right;">
                <form action = "{{ url_for('routes.delete', postid = post.id) }}">
                    <input type = 'submit', value = 'Delete', class = 'button'>
                </form>
            </div>
            <!--{% endif %}-->
        </td>
    </tr>
</table>