<html>
    <head>
       {% if title %}
          <title>{{ title }} - Research Connect </title>
       {% else %}
          <title> Welcome to Research Connect! </title>
       {% endif %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <div class ="nav-container">
        <table>
            <tr>
                {% if current_user.user_type=="Student"%}
                <td><a href="{{ url_for('routes.s_index') }}" class = "button">Home</a></td>
                <td><a href="" class = "button"> Your Applications </a></td>
                <!-- <td><a href="" class = "button"> Messages </a></td> -->
                <!-- <td><a href="{{ url_for('routes.createpost') }}" class = "button"> Create Open Position </a></td> -->
                <!-- <td><a href="{{ url_for('routes.f_edit_profile') }}" class = "button"> Faculty Edit Profile </a></td> -->
                <td><a href="{{ url_for('routes.s_edit_profile') }}" class = "button"> Student Edit Profile </a></td>
                <td><a href="{{ url_for('auth.logout') }}" class = "button"> Logout </a></td>
                <td> Current user is: <span class="useritem"> {{current_user.username}} </span> </td>  
                {%endif%}

                {% if current_user.user_type=="Faculty"%}
                <td><a href="{{ url_for('routes.f_index') }}" class = "button">Home</a></td>
                <td><a href="" class = "button"> Your Applications </a></td>
                <!-- <td><a href="" class = "button"> Messages </a></td> -->
                <td><a href="{{ url_for('routes.createpost') }}" class = "button"> Create Open Position </a></td>
                <td><a href="{{ url_for('routes.f_edit_profile') }}" class = "button"> Faculty Edit Profile </a></td>
                <!-- <td><a href="{{ url_for('routes.s_edit_profile') }}" class = "button"> Student Edit Profile </a></td> -->
                <td><a href="{{ url_for('auth.logout') }}" class = "button"> Logout </a></td>
                <td> Current user is: <span class="useritem"> {{current_user.username}} </span> </td>  
                {%endif%}
            </tr>
        </table>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div> {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

    </body>
</html>