{% extends "base.html" %}

{% block content %}
<table class = "posttable" style = "width:100%; padding: 10px; background-color: rgb(216, 227, 235);" valign="top">

    <td width = "100%">
        <tr> 
            <td colspan="3"><div style="font-weight: bold;"> {{application.title}} - {{application.firstname}} {{application.lastname}} </div>
            </td>
        </tr>
        
    
      
        <tr> 
            <td colspan="3"><div class="postmessage"> 
                Self Description:  
                <br>
                {{application.studentDescription}}
            </div>
            </td>

        </tr>
        <tr> 
            <td colspan="3"><div class="postmessage">  Reference Name: {{application.reference_name}}</div>
            </td>

        </tr>
        <tr> 
            <td colspan="3"><div class="postmessage">  Reference Email: {{application.reference_email}} </div>
            </td>

        </tr>
        <tr>
            <td colspan="3"><div class="postmessage"> GPA: {{application.gpa}}

            </div>
            </td>
        </tr>
        <tr>
            <td colspan="3"><div class="postmessage"> Tech Electives: {{application.tech_electives}}

            </div>
            </td>
        </tr>
        <tr>
            <td colspan="3"><div class="postmessage"> Lanuages: {{application.languages}}

            </div>
            </td>
        </tr>
        <tr>
            <td colspan="3"><div class="postmessage"> Prior Experiences: {{application.prior_exp}}

            </div>
            </td>
        </tr>
        <tr>
            <td colspan="3"><div class="postmessage"> Interests: {{application.interests}}

            </div>
            </td>
        </tr>
        <tr>
            <td colspan="3"><div class="postmessage"> 
                {% if form %}
                <form method = "POST" class = 'formselect'>
                    {{ form.hidden_tag() }}
                    
                    <div class = 'formselect'>
                        Change Status: {{ form.status() }}
                        {{ form.submit(class = 'button') }}
                    </div>
                {% endif %}
            </div>
            </td>
        </tr>
    </td>

</table>

{% endblock %}
